.header__logo {
  width: 146px;
  height: 33px;
  margin-bottom: 37px;
}

@media screen and (max-width: 882px) {
  .header__logo {
    margin: 0 0 28px 26px;
  }
}

@media screen and (max-width: 320px) {
  .header__logo {
    width: 103px;
    height: 24px;
  }
}